doctype html
- var imgPath = "/uploads/"
- var action = "/upload"
html
    head
        title PugIt
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css")
    body
        div(class="container") 
            form(action="/upload" method='POST' enctype="multipart/form-data")
                div(class="file-field input-field")
                div(class="btn grey")
                    input(name="myImage" type="file")
                div(class="file-path-wrapper")
                    input(class="file-path validate" type="text")
                button(class="btn" type="submit") Submit
        div(id= "box")
            each pic in pictureNames
                a(href=pic): img(src=`./uploads/${pic}` class="responsive-img")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js")
    script(src="poll.js")